<f:comment>
    added in Controller as module:
    0: 'EXT:pb_notifications/Resources/Public/JavaScript/List/jquery.prettyPhoto-manipulated.js

    todo: this should be loaded as module as well (or used other method to make jquery available, is currently not loaded
    1: 'EXT:pb_notifications/Resources/Public/JavaScript/List/notifications.js'
</f:comment>
<f:be.pageRenderer
    includeCssFiles="{0: 'EXT:pb_notifications/Resources/Public/Css/notifications.css', 1: 'EXT:pb_notifications/Resources/Public/Css/prettyPhoto.css'}"
/>
<div class="typo3-fullDoc">
    <div id="typo3-docheader">

        <div class="typo3-docheader-functions">
            <div class="left">
            </div>
            <div class="right">
                <f:be.pagePath />
                <f:be.pageInfo />
            </div>
        </div>

    </div>
    <div id="typo3-docbody">
        <div id="typo3-inner-docbody" class="tx_pb-notifications">
            <f:render section="content" />
        </div>
    </div>
</div>
