{namespace pb=PeterBenke\PbNotifications\ViewHelpers}

<h3 class="dropdown-headline"><f:translate key="LLL:EXT:pb_notifications/Resources/Private/Language/locallang.xlf:toolbaritem.title" /></h3>

<ul class="dropdown-list" style="width:250px;">

	<f:if condition="{onlyUnreadNotifications -> f:count()} > 0">

		<!-- List of notifications -->
		<f:then>
			<f:for each="{onlyUnreadNotifications}" as="notification" iteration="iteration">

				<f:if condition="{iteration.index} < {maxNumberOfNotificationsInToolbar}">

					<li class="divider"></li>
					<li>
						<f:if condition="{notification.type} == 1">
							<f:then>
							<span class="text-danger">
								<i class="fa fa-exclamation"></i>&nbsp;
								<f:format.date date="{notification.date}" format="{f:translate(key:'LLL:EXT:pb_notifications/Resources/Private/Language/locallang.xlf:notifications.list.dateFormat')}" />
								<br>
								<strong>{notification.title}</strong>:
							</span>
							</f:then>
							<f:else>
							<span class="text-primary">
								<i class="fa fa-info"></i>&nbsp;
								<f:format.date date="{notification.date}" format="{f:translate(key:'LLL:EXT:pb_notifications/Resources/Private/Language/locallang.xlf:notifications.list.dateFormat')}" />
								<br>
								<strong>{notification.title}</strong>:
							</span>
							</f:else>
						</f:if>
						<br>
						<f:format.crop maxCharacters="45" respectWordBoundaries="false">
							{notification.content -> f:format.stripTags()}
						</f:format.crop>
					</li>

				</f:if>

			</f:for>

			<f:if condition="{pb:countUnreadNotifications(notifications:'{onlyUnreadNotifications}')} > {maxNumberOfNotificationsInToolbar}">

				<li class="divider"></li>
				<li><em><f:translate key="LLL:EXT:pb_notifications/Resources/Private/Language/locallang.xlf:toolbaritem.andMore" /></em></li>

			</f:if>

		</f:then>

		<!-- No notifications exist -->
		<f:else>
			<li><em><f:translate key="LLL:EXT:pb_notifications/Resources/Private/Language/locallang.xlf:toolbaritem.noNotifications" /></em></li>
		</f:else>

	</f:if>


	<li class="divider"></li>

	<li id="pbnotifications_listnotifications">
        <f:comment>
            TYPO3 v12 top.gotToModule is deprecated in v11 and removed in v12
            Deprecation: #94058 - JavaScript goToModule()
            https://docs.typo3.org/c/typo3/cms-core/main/en-us/Changelog/11.3/Deprecation-94058-JavaScriptGoToModule.html

            Use the following HTML code to replace the inline goToModule() call to for example link to the page module:

            <a href="#"
               data-dispatch-action="TYPO3.ModuleMenu.showModule"
               data-dispatch-args-list="web_layout"
            >
                Go to page module
            </a>
        </f:comment>
		<a href="#"
           data-dispatch-action="TYPO3.ModuleMenu.showModule"
           data-dispatch-args-list="user_PbNotificationsNotifications"
           >
			<span class="text-warning"><i class="fa fa-list"></i>&nbsp; <f:translate key="toolbaritem.allNotifications" extensionName="pb_notifications" /></span>
		</a>
	</li>

</ul>
