{namespace pb=PeterBenke\PbNotifications\ViewHelpers}

<f:comment>
    Since TYPO3 v12 use:

    headline: p class="h3 dropdown-headline"
    divider: hr class="dropdown-divider" aria-hidden="true"
    items:
      - ul class="dropdown-list">
        - li
           - a class="dropdown-item"
              - span class="dropdown-item-columns"
                 - span class="dropdown-item-column"
                   - icon: span class="t3js-icon icon icon-size-small icon-state-default
                   - header: class="dropdown-item-column dropdown-item-column-title"
</f:comment>

<p class="h3 dropdown-headline"><f:translate key="LLL:EXT:pb_notifications/Resources/Private/Language/locallang.xlf:toolbaritem.title" /></p>
<hr class="dropdown-divider" aria-hidden="true">


<ul class="dropdown-list">

	<f:if condition="{onlyUnreadNotifications -> f:count()} > 0">

		<!-- List of notifications -->
		<f:then>
			<f:for each="{onlyUnreadNotifications}" as="notification" iteration="iteration">

				<f:if condition="{iteration.index} < {maxNumberOfNotificationsInToolbar}">
					<li>
                        <a href="#" class="dropdown-item"
                           data-dispatch-action="TYPO3.ModuleMenu.showModule"
                           data-dispatch-args-list="user_PbNotificationsNotifications"
                            >
                               <f:if condition="{notification.type} == 1">
                                    <f:then>
                                    <span class="text-danger">
                                        <core:icon identifier="actions-exclamation-circle-alt"/>&nbsp;
                                        <f:format.date date="{notification.date}" format="{f:translate(key:'LLL:EXT:pb_notifications/Resources/Private/Language/locallang.xlf:notifications.list.dateFormat')}" />
                                        <br>
                                        <strong>{notification.title}</strong>:
                                    </span>
                                    </f:then>
                                    <f:else>
                                    <span class="text-primary">
                                        <core:icon identifier="actions-info-circle"/>&nbsp;
                                        <f:format.date date="{notification.date}" format="{f:translate(key:'LLL:EXT:pb_notifications/Resources/Private/Language/locallang.xlf:notifications.list.dateFormat')}" />
                                        <br>
                                        <strong>{notification.title}</strong>:
                                    </span>
                                    </f:else>
                                </f:if>
                                <f:format.crop maxCharacters="45" respectWordBoundaries="false">
                                    {notification.content -> f:format.stripTags()}
                                </f:format.crop>

                        </a>
					</li>

				</f:if>

			</f:for>

			<f:if condition="{pb:countUnreadNotifications(notifications:'{onlyUnreadNotifications}')} > {maxNumberOfNotificationsInToolbar}">
				<li><em><f:translate key="LLL:EXT:pb_notifications/Resources/Private/Language/locallang.xlf:toolbaritem.andMore" /></em></li>

			</f:if>

		</f:then>

		<!-- No notifications exist -->
		<f:else>
			<li><em><f:translate key="LLL:EXT:pb_notifications/Resources/Private/Language/locallang.xlf:toolbaritem.noNotifications" /></em></li>
		</f:else>

	</f:if>
</ul>

<hr class="dropdown-divider" aria-hidden="true">

<ul class="dropdown-list">
    <li id="pbnotifications_listnotifications">
        <a href="#" class="dropdown-item"
           data-dispatch-action="TYPO3.ModuleMenu.showModule"
           data-dispatch-args-list="user_PbNotificationsNotifications"
        >
            <span class="text-warning"><i class="fa fa-list"></i>&nbsp; <f:translate key="toolbaritem.allNotifications" extensionName="pb_notifications" /></span>
        </a>
    </li>
</ul>
